recursive-include scriptworker/data *
recursive-include scriptworker/test/data *
recursive-include docker *
recursive-include scripts *

include .coveragerc
include CHANGELOG.md
include CONTRIBUTING.rst
include LICENSE
include README.rst
include config_example.json
include version.json
include requirements*.txt
include tox.ini

include scriptworker/docs/Makefile
include scriptworker/docs/conf.py
include scriptworker/docs/*.rst
include scriptworker/docs/*.md

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * 1000pubkeys
