recursive-include scriptworker/data *
recursive-include scriptworker/test *

include LICENSE
include README.rst
include config_example.json

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
