recursive-include scriptworker/data *
recursive-include scriptworker/test/data *

include .coveragerc
include CHANGELOG.md
include CONTRIBUTING.rst
include LICENSE
include README.rst
include config_example.json
include version.json
include requirements*.txt
include tox.ini

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * 1000pubkeys
